# Visual Studio
.vs/

# CMake / build output
build/
build_Windows/

# Generated binaries and debug files
*.log
*.pdb
*.dll
*.exe
*.ins
*.zip
# Runtime results
result/
result_TC/
result_LC/
# IDE
.idea/
results/
results(2)/
sample_data/
